/* https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap */
/* latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

header {
    position: fixed;
    background-color: #d9fcdb;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em;
    z-index: 1;
    box-shadow: 0 4px 2px -1px rgb(189, 189, 189);
}

main {
    margin-top: 15em;
}

#logo-header {
    width: 10em;
    display: inline;
    float: right;
    padding: 1em;
}

nav ul {
    margin-left: -2.5em;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-top: 2em;
}


body {
    font-family: 'Inter';
    background-color: #fffef0;
}

#welcome-table {
    display: grid;
    grid-auto-flow: column;
    /* grid-auto-columns: 30%; */
    grid-template-columns: repeat(auto-fit, 30%);
    justify-content: space-evenly;
    text-align: center;
    background-color:rgb(221, 221, 221);
    padding: 1rem 0rem 1rem 0rem;
    table-layout: fixed;
}


#welcome-table-column {
    background-color: white;
    border-radius: 1.5rem;
    
}